<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Buscar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong class="capitalize">Buscar</strong>
    <p>Guapo <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI
        Components</a></p>
  </div>
  <div>
    <!-- Searchbar with a cancel button and custom cancel button text -->
    <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel"></ion-searchbar>

    <!-- Animated Searchbar -->
    <ion-searchbar animated showCancelButton="focus"></ion-searchbar>

  </div>
</ion-content>