<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Buscar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong class="capitalize">Buscar</strong>
    <p>Guapo <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI
        Components</a></p>
  </div>
  <div>
    <!-- Animated Searchbar -->
    <ion-searchbar animated showCancelButton="focus"></ion-searchbar>

  </div>
  <div>

    <ion-button (click)="toggleInfiniteScroll()" expand="block">
      Toggle Infinite Scroll
    </ion-button>

    <ion-list>
      Saa <br>
      So <br>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Home</ion-label> <br><br><br><br>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Home</ion-label> <br><br><br><br>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Home</ion-label> <br><br><br><br>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Home</ion-label> <br><br><br><br>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Home</ion-label> <br><br><br><br>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Home</ion-label> <br><br><br><br>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Home</ion-label> <br><br><br><br>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Home</ion-label> <br><br><br><br>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Home</ion-label> <br><br><br><br>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Home</ion-label> <br><br><br><br>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Home</ion-label> <br><br><br><br>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Home</ion-label> <br><br><br><br>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Home</ion-label> <br><br><br><br>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Home</ion-label> <br><br><br><br>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Home</ion-label> <br><br><br><br>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Home</ion-label> <br><br><br><br>

    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
      Sasa
      <br>
      Soso
    </ion-infinite-scroll>

  </div>
</ion-content>